/* Estilos generales del cuerpo */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

/* Estilos para el formulario */
#formulario {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#formulario label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

#formulario input[type="text"],
#formulario input[type="color"] {
    width: calc(100% - 22px); /* Ajustar el ancho para los padding y bordes */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#formulario button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

#formulario button:hover {
    background-color: #004d40;
}

/* Estilos para la tabla de horarios */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
}

td.selectable:hover {
    cursor: pointer;
    background-color: #e0f7fa;
}

td.selected {
    background-color: #00796b;
    color: white;
}

/* Estilos para la sección de colores disponibles */
#colores-disponibles {
    max-width: 600px;
    margin: 20px auto;
}

#colores-disponibles div {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    text-align: center;
}

/* Estilos para la sección de horas ocupadas */
#horas-ocupadas {
    max-width: 600px;
    margin: 20px auto;
}

#horas-ocupadas div {
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 4px;
    background-color: #e7e7e7; /* Fondo para las horas ocupadas */
    color: #333;
}


/* Estilo para el contenedor del color picker */
.color-picker-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Estilo para el label del color picker */
.color-picker-container label {
    font-weight: bold;
    margin-right: 10px;
}

/* Estilo para el input tipo color */
input[type="color"] {

    border: none;
    width: 40px; /* Ajustar el tamaño del selector de color */
    height: 40px; /* Ajustar el tamaño del selector de color */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el selector */
    border-radius: 5px; /* Añadir bordes redondeados */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2); /* Añadir sombra para destacar el selector */
    outline: none; /* Eliminar el borde de enfoque predeterminado */
}

/* Estilo para el selector de color cuando está enfocado */
input[type="color"]:focus {
    box-shadow: 0 0 0 3px rgba(0, 0, 255, 0.3); /* Resaltar el borde cuando está enfocado */
}

/* Estilo adicional para un mensaje o descripción */
.color-picker-description {
    font-size: 14px;
    color: #666;
    margin-top: 5px;
}
